@mixin checkbox {
  .checkinput {
    appearance: none;
  }

  .checkbox-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #check:checked ~ .checkmark {
    background-color: #f5f7fa;
  }

  .checkmark {
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    transition: background-color 0.2s;
    border: none;
    border: 2px solid #f2f2f2;
  }

  .checkmark::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 3px solid #0ad69c;
    border-bottom: 3px solid #0ad69c;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg);
    opacity: 0;
    transition: all 0.2s;
  }

  #check:checked ~ .checkmark::after {
    opacity: 1;
  }
}
