.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.radio__input {
  display: none;
}

.radio__radio {
  border: 2px solid #fff;
  box-shadow: 0px 1px 7px rgba(204, 202, 212, 0.58);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}

.radio__radio::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: #0ad69c;
  border-radius: 50%;

  transform: scale(0);
  transition: transform 0.2s;
}

.radio__input:checked + .radio__radio::after {
  transform: scale(1);
}
